[user]
    name = Lovisa Svallingson
    email = lovisasvallingson@gmail.com
    initials = LS

[core]
  excludesfile = /Users/Lovisa/.gitignore_global
	editor = vim

[push]
    default = upstream

[color]
    ui = auto
